[defaults]
# Le chemin vers ton inventaire pour ne plus avoir à faire -i hosts.ini
inventory = hosts.ini

# L'utilisateur par défaut sur tes VMs GCP
remote_user = abderrazek

# Le chemin vers ta clé PRIVÉE
private_key_file = /home/abderrazek/.ssh/google_compute_engine

